.button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #c9c9c9;
}

.button:disabled {
    background-color: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}

.confirm-button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
}

.confirm-button:hover {
    cursor: pointer;
}

.confirm-button:active {
    background-color: #45a049;
}

.confirm-button:disabled {
    background-color: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}

.alert-button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f44336;
    color: white;
}

.alert-button:hover {
    cursor: pointer;
}

.alert-button:active {
    background-color: #f44336;
}

.alert-button:disabled {
    background-color: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}