.category-form-container {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  .category-form-container h1 {
    text-align: center;
  }
  
  .category-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .category-form-container form input {
    margin-bottom: 1em;
  }
  