.product-form-container {
    max-width: 400px;
    margin: auto;
    padding: 1em;
}

.product-form-container h1 {
    text-align: center;
}

.product-form-container form {
    display: flex;
    flex-direction: column;
}

.product-form-container form input,
.product-form-container form select {
    margin-bottom: 1em;
}
