.register-container {
  max-width: 400px;
  margin: auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.register-container h1 {
  text-align: center;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container form input {
  margin-bottom: 1em;
}
